@model IEnumerable<G3.Models.User>

@{
	ViewData["Title"] = "RolesList";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Role List</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				UID
			</th>
			<th>
				Full Name
			</th>
			<th>
				Role
			</th>
			<th></th>
		</tr>
	</thead>
	@* temp data *@
	<tbody>
		<tr>
			<td>
				1
			</td>
			<td>
				Bruh bruh
			</td>
			<td>
				Student
			</td>
			<td>
				<a>Edit</a> |
				<a>Details</a> |
				<a>Delete</a>
			</td>
		</tr>
		<tr>
			<td>
				2
			</td>
			<td>
				cat cat
			</td>
			<td>
				Student
			</td>
			<td>
				<a>Edit</a> |
				<a>Details</a> |
				<a>Delete</a>
			</td>
		</tr>
		<tr>
			<td>
				3
			</td>
			<td>
				Dog Dog
			</td>
			<td>
				Mentor
			</td>
			<td>
				<a>Edit</a> |
				<a>Details</a> |
				<a>Delete</a>
			</td>
		</tr>
		<tr>
			<td>
				4
			</td>
			<td>
				bird bird
			</td>
			<td>
				Admin
			</td>
			<td>
				<a>Edit</a> |
				<a>Details</a> |
				<a>Delete</a>
			</td>
		</tr>
	</tbody>
	@* <tbody>
	@if (Model != null)
	{
	@foreach (var item in Model)
	{
	<tr>
	<td>
	@Html.DisplayFor(modelItem => item.Id)
	</td>
	<td>
	@Html.DisplayFor(modelItem => item.Name)
	</td>
	<td>
	@Html.DisplayFor(modelItem => item.RoleSetting.Value)
	</td>
	<td>
	<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
	<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
	<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
	</td>
	</tr>
	}
	}
	else
	{
	<tr>
	<td colspan="9" align="center">No data found</td>
	</tr>
	}
	</tbody> *@
</table>
