@model IEnumerable<G3.Models.Setting>

@{
	ViewData["Title"] = "RolesList";
	Layout = "~/Views/Shared/AdminLayout.cshtml";

	Pager pager = new Pager();

	int pageNo = 0;

	if (ViewBag.Pager != null)
	{
		pager = ViewBag.Pager;
		pageNo = pager.CurrentPage;
	}
}

<h1>Role List</h1>
<vc:search-bar search-pager="@ViewBag.SearchPager"></vc:search-bar>

<br>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>
				Role Id
			</th>
			<th>
				Role name
			</th>
			<th>
				Role value
			</th>
			<th>
				Status
			</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		@if (Model != null)
		{
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.SettingId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Value)
					</td>
					<td>
						@{
							if (item.IsActive == true)
							{
								<span class="text-success">Active</span>
							}
							else
							{
								<span class="text-danger">Deactive</span>
							}
						}
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.SettingId">Toggle active/deactive</a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="9" align="center">No data found</td>
			</tr>
		}
	</tbody>
</table>
<p>
	<a class="btn btn-outline-primary float-right" asp-action="RoleCreate">Create New</a>
</p>
