@model G3.Models.UserSettingViewModel

@{
    ViewData["Title"] = "UsersRoleEdit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>UsersRoleEdit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="UsersRoleEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" value="@Model.User.Name" class="form-control" readonly />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" value="@Model.User.Email" class="form-control" readonly />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.DateOfBirth" value="User.DateOfBirth" class="control-label"></label>
                <input asp-for="User.DateOfBirth" value="@Model.User.DateOfBirth" class="form-control" readonly />
                <span asp-validation-for="User.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.RoleSettingId" class="control-label"></label>
                <select asp-for="User.RoleSettingId" class="form-control">
                    @foreach (var setting in Model.Settings) // Replace ViewBag.AllSettings with your model property if applicable
                    {
                        <option value="@setting.SettingId">@setting.Name</option>
                    }
                </select>
                <span asp-validation-for="User.RoleSettingId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Settings" value="" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UsersRoleList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
