@model IEnumerable<G3.Models.ClassAssignment>

@{
    ViewData["Title"] = "ClassAssignmentList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>ClassAssignmentList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Id)
            </td>
            <td>
                    <a asp-action="ClassAssignmentDetail" asp-route-key="@item.Key">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
