@model IEnumerable<G3.Models.User>

@{
	ViewData["Title"] = "ClassStudents";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
	int classId = (int)ViewBag.ClassId;
}

<h1>Students in class</h1>



<div class="container-fluid">
	<div class="card shadow mb-4">
		<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
			<h6 class="m-0 font-weight-bold text-primary">Student  List</h6>
		</div>
		<div class="card-body">
			<vc:search-bar search-pager="@ViewBag.SearchPager"></vc:search-bar>
			<div class="table-responsive">
				<table class="table table-bordered" cellspacing="0">
					<thead>
						<tr>
							<th>
								ID
							</th>
							<th>
								Name
							</th>
							<th>
								Date of birth
							</th>
							<th>
								Gender
							</th>
							<th>
								Email
							</th>
							<th>
								Status
							</th>
							<th></th>
						</tr>
					</thead>

					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Id)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.DateOfBirth)
							</td>
							@if (item.Gender == true)
							{
								<td>Male</td>
							}
							else
							{
								<td>Female</td>
							}
							<td>
								@Html.DisplayFor(modelItem => item.Email)
							</td>
							<td>
								@{
									if (item.Status == true)
									{
										<span class="text-success">Active</span>
									}
									else
									{
										<span class="text-danger">Deactive</span>
									}
								}
							</td>
							<td>
								<a asp-action="Edit" asp-route-id="@item.Id">Assign Project/group</a>
							</td>
						</tr>
					}
				</table>
			</div>
		</div>
		<div>
			<span class="mr-1">
				<form method="get" asp-controller="Classroom" asp-action="ExportStudentsToExcel">
					@if (ViewBag.ClassId != null)
					{
						<input type="hidden" name="id" value="@ViewBag.ClassId" />
					}
					<button class="btn btn-outline-primary float-right" type="submit">Export to excel</button>
				</form>
				<form method="get" asp-controller="Classroom" asp-action="UploadExcel">
					@if (ViewBag.ClassId != null)
					{
						<input type="hidden" name="id" value="@ViewBag.ClassId" />
					}
					<button class="btn btn-outline-primary float-right" type="submit">Import from excel</button>
				</form>
				<form method="get" asp-controller="Classroom" asp-action="ClassAddStudents">
					@if (ViewBag.ClassId != null)
					{
						<input type="hidden" name="id" value="@ViewBag.ClassId" />
					}
					<button class="btn btn-outline-primary float-right" type="submit">Add student to class</button>
				</form>
				<form asp-controller="Classroom" asp-action="ClassDetail" method="get">
					<button class="btn btn-outline-primary float-left" name="id" value="@ViewBag.ClassID" type="submit">Back to class detail</button>
				</form>
			</span>
			
		</div>
		
	</div>
</div>
