@model IEnumerable<G3.Models.User>

@{
	ViewData["Title"] = "ClassStudents";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
	int classId = (int)ViewBag.ClassId;
}

<h1>Class Students</h1>

<div class="container-fluid">
	<div class="card shadow mb-4">
		<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
			<h6 class="m-0 font-weight-bold text-primary">Student  List</h6>
			<div class="dropdown no-arrow">
				<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
				   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
					 aria-labelledby="dropdownMenuLink">
					<div class="dropdown-header">Dropdown Header:</div>
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" cellspacing="0">
					<thead>
						<tr>
							<th>
								ID
							</th>
							<th>
								Name
							</th>
							<th>
								Date of birth
							</th>
							<th>
								Gender
							</th>
							<th>
								Email
							</th>
							<th>
								Status
							</th>
							<th></th>
						</tr>
					</thead>

					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Id)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.DateOfBirth)
							</td>
							@if (item.Gender == true)
							{
								<td>Male</td>
							}
							else
							{
								<td>Female</td>
							}
							<td>
								@Html.DisplayFor(modelItem => item.Email)
							</td>
							<td>
								@{
									if (item.Status == true)
									{
										<span class="text-success">Active</span>
									}
									else
									{
										<span class="text-danger">Deactive</span>
									}
								}
							</td>
							<td>
								<a asp-action="Edit" asp-route-id="@item.Id">Assign Project/group</a>
							</td>
						</tr>
					}
				</table>
			</div>
		</div>
		<div>
			<span class="mr-4">
				<a class="btn btn-outline-primary float-right" asp-controller="Classroom" asp-action="ClassAddStudents">Add new student</a>
			</span>
			<span class="mr-1">
				<form method="get" asp-controller="Classroom" asp-action="UploadExcel">
					@if (ViewBag.ClassId != null)
					{
						<input type="hidden" name="id" value="@ViewBag.ClassId" />
					}
					<button class="btn btn-outline-primary float-right" type="submit">Import from excel</button>
				</form>
			</span>
			
		</div>
		
	</div>
</div>
