@model G3.Models.UserMultiSelectViewModel
@{
	ViewData["Title"] = "ClassStudents";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Class Students</h1>

<div class="container-fluid">
	<div class="card shadow mb-4">
		<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
			<h6 class="m-0 font-weight-bold text-primary">Student  List</h6>
			<div class="dropdown no-arrow">
				<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
				   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
					 aria-labelledby="dropdownMenuLink">
					<div class="dropdown-header">Dropdown Header:</div>
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</div>
		</div>
		<form method="post" asp-action="AddStudentsToClass" asp-controller="Classroom">
		<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" cellspacing="0">
						<thead>
							<tr>
								<th>
									<input id="select-all" type="checkbox" asp-for="@Model.SelectAll" />
								</th>
								<th>
									ID
								</th>
								<th>
									Name
								</th>
								<th>
									Date of birth
								</th>
								<th>
									Gender
								</th>
								<th>
									Email
								</th>
								<th>
									Status
								</th>
								<th></th>
							</tr>
						</thead>
						@for(int i = 0; i < Model.UsersSelectList.Count(); i++)
						{
							<tr>
								<td>
									<input name="C_@Model.UsersSelectList[i].Selected" type="checkbox" asp-for="@Model.UsersSelectList[i].Selected">
									<input type="hidden" asp-for="@Model.UsersSelectList[i].User.Id">
								</td>
								<td>
									@Html.DisplayFor(modelItem => @Model.UsersSelectList[i].User.Id)
								</td>
								<td>
									@Html.DisplayFor(modelItem => @Model.UsersSelectList[i].User.Name)
								</td>
								<td>
									@Html.DisplayFor(modelItem => @Model.UsersSelectList[i].User.DateOfBirth)
								</td>
								@if (@Model.UsersSelectList[i].User.Gender == true)
								{
									<td>Male</td>
								}
								else
								{
									<td>Female</td>
								}
								<td>
									@Html.DisplayFor(modelItem => @Model.UsersSelectList[i].User.Email)
								</td>
								<td>
									@{
										if (@Model.UsersSelectList[i].User.Status == true)
										{
												<span class="text-success">Active</span>
										}
										else
										{
												<span class="text-danger">Deactive</span>
										}
									}
								</td>
								<td>
									<a asp-action="Edit" asp-route-id="@@Model.UsersSelectList[i].User.Id">Edit</a> |
									<a asp-action="Details" asp-route-id="@@Model.UsersSelectList[i].User.Id">Details</a> |
									<a asp-action="Delete" asp-route-id="@@Model.UsersSelectList[i].User.Id">Delete</a>
								</td>
							</tr>
						}
					</table>


				</div>
			
		</div>
		<div>
			<span class="mr-1">
				<button class="btn btn-outline-primary float-right" type="submit">Confirm addition</button>
			</span>
			<span class="mr-1">
				<a class="btn btn-outline-primary float-right" asp-controller="Classroom" asp-action="ClassStudents">Cancel</a>
			</span>
		</div>
		</form>
	</div>
	
</div>

		﻿

	@section scripts {
	<script>
		$(function () {
			var selectAll = $("#select-all");
			var studentCheckboxes = $("input[type='checkbox'][name^='C_']");

			selectAll.change(function () {
				studentCheckboxes.prop('checked', $(this).prop("checked"));
			});
			
			studentCheckboxes.change(function () {
				var allChecked = studentCheckboxes.length === studentCheckboxes.filter(":checked").length;
				selectAll.prop("checked", allChecked);
			});			
		});
	</script>
}

