@model G3.Models.ClassSubjectViewModel

@{
	ViewData["Title"] = "View";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Classes list</h1>


<form method="get" asp-controller="Classroom" asp-action="ClassList">
	<div class="input-group col-lg-3 float-left">
		<input type="text" class="form-control rounded" placeholder="Search" name="search" />
		<input type="submit" value="Search" class="btn btn-outline-primary" />
	</div>
</form>

<table class="table">
	<thead>
		<tr>
			<th>
				ID
			</th>
			<th>
				Name
			</th>
			<th>
				Subject Name
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Classes)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@foreach(var subject in Model.Subject) {
						if(item.SubjectId.Equals(subject.Id))
						{
							<span>@subject.SubjectCode</span>
						}
					}
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<p>
	<a class="btn btn-outline-primary float-right" asp-action="RoleCreate">Create New</a>
</p>

