@model IEnumerable<G3.Models.Class>

@{
	ViewData["Title"] = "View";
	Layout = "~/Views/Shared/AdminLayout.cshtml";

	Pager pager = new Pager();

	int pageNo = 0;

	if(ViewBag.Pager != null)
	{
		pager = ViewBag.Pager;
		pageNo = pager.CurrentPage;
	}
}

<h1>View</h1>

<vc:search-bar search-pager="@ViewBag.SearchPager"></vc:search-bar>
<table class="table">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Name
			</th>
			<th>
				Subject Code
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				@foreach (var subject in Model)
				{
					if (subject.Id.Equals(item.Id))
					{
						<td>@subject.Subject.SubjectCode</td>
					}
				}
				
				<td>
					<a asp-action="ClassDetail" asp-route-id="@item.Id">Details</a>
				</td>
			</tr>
		}
	</tbody>
</table>
