@model IEnumerable<G3.Models.Class>

@{
	ViewData["Title"] = "View";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>View</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Name
			</th>
			<th>
				Subject Code
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				@foreach (var subject in Model)
				{
					if (subject.Id.Equals(item.Id))
					{
						<td>@subject.Subject.SubjectCode</td>
					}
				}
				
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
