@model G3.Dtos.UpdateUserDto;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="container py-5">
    <form asp-action="Edit" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
        <input asp-for="UpdatedAt" type="hidden" value="@DateTime.Now" />


        <div class="mb-4">
            <a asp-action="Index" type="button" class="btn btn-outline-primary">Back to list</a>
            <input type="submit" value="Save" class="btn btn-primary rounded" />
            <div class="alert alert-info alert-dismissable" id="alert-message" style="@((ViewData.ModelState.IsValid && (ViewData["ErrorMessage"] == null)) ? "display: none;" : "")">
                <a class="panel-close close" data-dismiss="alert">×</a>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                    <span asp-validation-for="Name" class="text-danger"></span>
                }
                else if (ViewData["ErrorMessage"] != null)
                {
                    <span class="text-danger">@ViewData["ErrorMessage"]</span>
                }
                <i class="fa fa-coffee"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="@Html.DisplayFor(model => model.Avatar)" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <br />
                        <br />
                        <div>
                            <label class="btn btn-outline-primary">
                                Browse
                                <input name="AvatarFile" type="file" accept="image/*" style="display: none;" />
                            </label>
                        </div>
                        <h6>Upload a different photo...</h6>
                        <div class="text-center">
                            <select asp-for="RoleSettingId" class="form-control" asp-items="ViewBag.RoleSettingId" style="width: auto; display: inline-block;"></select>
                        </div>

                        <p class="text-muted mb-4">@Html.DisplayFor(model => model.Address)</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Name" class="mb-0" style="border: none; outline: none; width: 100%;" placeholder="Enter your full name">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Status" class="col-sm-3 form-check-inline form-check-label">Status:</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-check form-check-inline">
                                    <input asp-for="Status" class="form-check-input" type="radio" id="status-false" value=@false />
                                    <label asp-for="Status" class="form-check-label" for="status-false" data-toggle="tooltip" title="Blocked">
                                        &#x1F6AB;
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input asp-for="Status" class="form-check-input" type="radio" id="status-true" value=@true />
                                    <label asp-for="Status" class="form-check-label" for="status-true" data-toggle="tooltip" title="Verified">
                                        &#x2705;
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input asp-for="Status" class="form-check-input" type="radio" id="status-null" value=@null />
                                    <label asp-for="Status" class="form-check-label" for="status-null" data-toggle="tooltip" title="Unverified">
                                        &#x2753;
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Date of Birth</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="date" asp-for="DateOfBirth" class="mb-0" style="border: none; outline: none; width: 100%;" placeholder="Enter date of birth">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Gender</p>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-check form-check-inline">
                                    <input asp-for="Gender" class="form-check-input" type="radio" id="gender-true" value=@true />
                                    <label asp-for="Gender" class="form-check-label" for="gender-true">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input asp-for="Gender" class="form-check-input" type="radio" id="gender-false" value=@false />
                                    <label asp-for="Gender" class="form-check-label" for="gender-false">
                                        Female
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Phone" class="mb-0" style="border: none; outline: none; width: 100%;" placeholder="Enter your phone number">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Address" class="mb-0" style="border: none; outline: none; width: 100%;" placeholder="Enter your address">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>